body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Raleway, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #1d1d1d;
	background-image: url("../images/city.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
