.master_div {
	background: #0c171f;
	text-align: left;
}

.contact_div {
	padding: 1em;
	background: #0e1a23;
	text-align: left;
	font-size: 1.25em;
	width: 50%;
	border-bottom-right-radius: 10em;
	display: inline-table;
}

.contact_info {
	margin: 0.5em 1em;
	display: inline-block;
	position: absolute;
}

.contact_icon {
	width: 2em;
	height: 2em;
	display: inline-block;
}

.contact_subdiv {
	height: 2em;
	margin: 1em;
	position: relative;
}

.icon {
	width: 100%;
}

.links_div {
	display: inline-block;
	width: 41em;
	text-align: center;
	padding: 2em 0;
	position: absolute;
	mix-blend-mode: luminosity;
}

.link_icon {
	width: 7em;
	margin: 0 2em;
}
