.App {
	font-family: "Raleway", sans-serif;
	text-align: center;
	max-width: 1920px;
	width: 100%;
	min-height: 100%;
	height: 100%;
	margin: 0 auto;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Raleway, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	touch-action: manipulation;

	/* Background options */
	background-color: #182731;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

h2 {
	font-family: "Raleway", sans-serif;
}

.section_div {
	width: 1400px;
	height: auto;
	padding: 15em;
	margin: 5em auto;
	font-family: "Raleway", sans-serif;
	color: #ffffff;
}
