.greeting_div {
	width: 1080px;
	height: auto;
	padding: 15em;
	padding-bottom: 20em;
	margin: 5em auto;
	font-family: "Raleway", sans-serif;
	color: #ffffff;
}

.greeting_title_div {
	border-bottom: 1px solid #7dc3de;
	padding-bottom: 0.5em;
	margin-right: 10em;
	padding-left: 1em;
	text-align: left;
}

.greeting_title {
	font-family: Raleway, sans-serif;
	font-size: 3em;
	font-weight: 900;
	font-variant: petite-caps;
	color: #beedff;
}

.greeting_message_div {
	margin-right: 10em;
	margin-left: 4em;
	color: #fff;
	font-size: 1.5em;
	text-align: justify;
}

.hl {
	color: #63e8ff;
}
