.project {
	width: 100%;
	height: 20em;
	background: #04121b;
	margin: 1em auto;
	overflow: hidden;
	position: relative;
}

.project_img_div {
	float: right;
	width: 70%;
	mix-blend-mode: soft-light;
	filter: blur(0.25em) saturate(0.1);
	position: relative;
}

.project_img {
	width: 100%;
}

.project_details_div {
	/* Formatting */
	width: 40%;
	height: 100%;
	margin-top: 2em;
	margin-left: 2em;

	/* Aesthetic */
	background: inherit;
	box-shadow: 0 0 7em 15em #04121b;
	border-radius: 0 100em;

	/* Positioning */
	float: left;
	text-align: left;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.project_title_div {
	width: 100%;
	height: auto;
	text-align: left;
	padding-left: 1em;
	padding-top: 0.5em;
}

.project_title {
	font-family: Raleway, sans-serif;
	font-size: 2em;
	font-weight: 600;
	font-variant: petite-caps;
	color: #2efdff;
}

.project_description_div {
	padding-left: 1em;
	padding-top: 0.5em;
	text-align: justify;
	font-size: 1em;
}

.tags_ribbon {
	/* Positioning */
	top: 23px;
	right: -40px;
	left: auto;
	transform: rotate(35deg);
	-webkit-transform: rotate(35deg);
	position: absolute;
	z-index: 3;

	/* Formatting */
	width: 10em;
	height: auto;
	padding: 0.5em;

	/* Font format */
	font-size: 1.25em;
	font-variant: all-petite-caps;
	font-weight: bolder;
}

.project_date_div {
	/* Formatting */
	margin-left: 0.75em;
	padding-bottom: 0.3em;

	/* Font options */
	font-size: 2em;
	font-family: monospace;
	font-variant: all-petite-caps;
	color: #00999a;
}
