.project {
	width: 100%;
	height: 20em;
	background: #04121b;
	margin: 1em auto;
	overflow: hidden;
	position: relative;
}

.project_img_div {
	float: right;
	width: 70%;
	mix-blend-mode: soft-light;
	filter: blur(0.25em) saturate(0.1);
}

.project_img {
	width: 100%;
}

.project_details_div {
	float: left;
	width: 40%;
	height: 100%;
	background: inherit;
	box-shadow: 0 0 7em 15em #04121b;
	border-radius: 0 100em;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.project_title {
	width: 50%;
	height: auto;
}
